POSTGRES_DB=st_poc
POSTGRES_USER=st_poc
POSTGRES_PASSWORD=st_poc_local_pw
POSTGRES_PORT=5432

MONGO_INITDB_ROOT_USERNAME=st_poc_mongo
MONGO_INITDB_ROOT_PASSWORD=st_poc_mongo_local_pw
MONGO_PORT=27017

REDIS_PORT=6379

RABBITMQ_DEFAULT_USER=st_poc_rabbit
RABBITMQ_DEFAULT_PASS=st_poc_rabbit_local_pw
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672

GARAGE_S3_PORT=3900
GARAGE_ADMIN_PORT=3903
GARAGE_RPC_SECRET=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef

MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8025

SEQ_PORT=5340
SEQ_INGEST_PORT=5341

JAEGER_UI_PORT=16686
JAEGER_OTLP_GRPC_PORT=4317
JAEGER_OTLP_HTTP_PORT=4318

PROMETHEUS_PORT=9090

GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=st_poc_grafana
GRAFANA_ADMIN_PASSWORD=st_poc_grafana_local_pw

VAULT_PORT=8200

GARAGE_WEBUI_PORT=3909
PORTAINER_PORT=9002
